body {
	color: #999;
	background: #f5f5f5;
	font-family: 'Varela Round', sans-serif;
}

.form-control {
	box-shadow: none;
	border-color: #ddd;
}

.form-control:focus {
	border-color: #4aba70;
}

.join-form {
	width: 350px;
	margin: 0 auto;
	padding: 30px 0;
}

.join-form form {
	color: #434343;
	border-radius: 1px;
	margin-bottom: 15px;
	background: #fff;
	border: 1px solid #f3f3f3;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}

.join-form h4 {
	text-align: center;
	font-size: 22px;
	margin-bottom: 20px;
}

.join-form .avatar {
	color: #fff;
	margin: 0 auto 30px;
	text-align: center;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	z-index: 9;
	background: #4aba70;
	padding: 15px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.join-form .avatar i {
	font-size: 62px;
}

.join-form .form-group {
	margin-bottom: 20px;
}

.join-form .form-control, .join-form .btn {
	min-height: 40px;
	border-radius: 2px;
	transition: all 0.5s;
}

.join-form .close {
	position: absolute;
	top: 15px;
	right: 15px;
}

.join-form .btn {
	background: #4aba70;
	border: none;
	line-height: normal;
}

.join-form .btn:hover, .join-form .btn:focus {
	background: #42ae68;
}

.join-form .checkbox-inline {
	float: left;
}

.join-form input[type="checkbox"] {
	margin-top: 2px;
}

.join-form .forgot-link {
	float: right;
}

.join-form .small {
	font-size: 13px;
}

.join-form a {
	color: #4aba70;
}